.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
    fill: #fff !important;
}
.MuiDataGrid-row--borderBottom {
    background: #041C32 !important;
}
.MuiDataGrid-selectedRowCount {
    color: #fff !important;
}
.MuiDataGrid-columnSeparator svg{
    display: none !important;
}
.MuiDataGrid-root--noToolbar {
    border: 1px solid #c0c0c030 !important;
    border-radius: 0% !important;
}
.MuiTablePagination-displayedRows {
    color: #fff !important;
}
.MuiDataGrid-menuIconButton svg {
    color: #fff !important;
}

/* Navbar Dropdown */
.navbar-dropdown-menu .MuiPopover-paper {
    position: absolute !important;
    top: 67px !important;
}
.MuiMenu-paper {
    border-radius: 0px !important;
}
.MuiMenu-list {
    background-color: #041C32 !important;
    color: rgb(255 255 255 / 87%) !important;
    border-radius: 0px !important;
}
.MuiMenuItem-gutters:hover {
    background-color: #052644 !important;
}
.MuiDataGrid-columnHeaderTitle,
.MuiDataGrid-cell--textLeft {
    color: #fff !important;
}