* {
  padding: 0;
  margin: 0;
  box-shadow: border-box;
}

body {
  overflow-x: hidden !important;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}
p {
  color: #444;
}

.container {
  max-width: 1440px !important;
  padding: 0 2rem;
  margin: 0 auto;
}

/* Button */
.primary-button {
  color: #fff;
  background-color: #3d705f;
  border-radius: 25px;
  font-size: 0.85rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
.primary-button:hover {
  background-color: #44a182;
}

.primary-dark-mode-button {
  color: #fff;
  background-color: #04293a;
  border-radius: 25px;
  font-size: 0.85rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
.primary-dark-mode-button:hover {
  background-color: #074a69;
}

/* Swiper */
.swiper {
  overflow: hidden !important;
  padding: 0 0 40px 0 !important;
}

#bookLists .swiper-button-next:after,
#bookLists .swiper-button-prev:after {
  transform: translateY(-100%);
}

/* @media (min-width: 1121px) and (max-width: 1150px) {
  #bookLists .swiper {
    padding-left: 50px !important;
  }
}

@media (min-width: 1025px) and (max-width: 1120px) {
  #bookLists .swiper {
    padding-left: 40px !important;
  }
}

@media (max-width: 1024px) {
  #bookLists .swiper {
    padding-left: 60px !important;
  }
} */

/* Swiper Dots */
.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10px !important;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background: #e2911f;
  opacity: 0.3;
  margin: 0.3rem 0.3rem -0.8rem !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background: #e2911f !important;
  opacity: 0.9;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  background-color: #e99d31;
  color: #000;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;
  padding: 1rem;
  font-size: 0.9rem !important;
  font-weight: bolder !important;
  transform: translateY(0);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
  background-color: #e2911f;
}

/* Rating */
.MuiRating-root {
  font-size: 1rem !important;
}

/* Tabs */
.MuiBox-root {
  border-bottom: none !important;
}
.MuiRating-icon {
  color: #e99d31 !important;
}
.MuiTabs-indicator {
  display: none !important;
}

/* Filter Inputs */
.checkbox-wrapper input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox-wrapper label {
  position: relative;
  cursor: pointer;
}

.checkbox-wrapper label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #cdedff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 15px;
}

.checkbox-wrapper input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 8px;
  width: 6px;
  height: 16px;
  border: solid #cdedff;
  border-width: 0 3px 2px 0;
  transform: rotate(45deg);
}

/* Accordion */
.MuiAccordion-root {
  background: none !important;
  color: #fff !important;
  box-shadow: none !important;
}
.MuiAccordionSummary-expandIconWrapper {
  color: #fff !important;
}
.MuiAccordionSummary-root {
  padding: 0 !important;
}
.MuiAccordionDetails-root {
  padding: 8px 0 16px !important;
}

/* Hero Slider Arrow Button */
section#hero_section .swiper-button-prev {
  left: 30px;
}
section#hero_section .swiper-button-next {
  right: 30px;
}


label {
  color: #eee !important;
}
.MuiInputBase-input {
  padding: .6rem .4rem !important;
}
.MuiFormControl-root {
  margin: 1rem 0 0 !important;
}
.MuiList-root.MuiMenu-list {
  background-color: #222 !important;
}